#logo{
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-left: 25px;
}
#title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
nav
{
    
    width: 100%;
    height: 70px;
    background-color:#f7f8f9;
    box-shadow: 1px 0.5px 2px 1px rgb(206, 203, 203);
    display:flex;
}
.editableBox{
    font-size:17.5px;
    width: 200px;
    height: 100%;
}
option{
    font-size:20px;
    width: auto;
    height: 70px;
    border: 1px solid black;
    color: rgb(44, 43, 43);
    border-bottom: 1px solid black;
}
option:hover{
    font-size:15px;
 
    border: 1px solid black;
    background-color: lightseagreen;
}
#search{
    border: 0.5px solid rgb(30, 140, 160);
    

}
.input{
    margin-top: 9px;
    border: 1px solid rgb(30, 140, 160);
    box-shadow: 0.5px 0.5px 0.5px 0px rgb(30, 140, 160);;
    display:flex;
    height: 47px;
    margin-left: -10%;
    width: 250px;
    border-radius: 5px;
}

#Icon{
    margin-top: 5px;
    font-size: 25px;
    width: 25px;
    font-weight: lighter;
    border-right: 0px;
    color: white;
}
#Icon2{
    margin-top: 5px;
    font-size: 25px;

    font-weight: lighter;
    border-right: 0px;
    color: white;
}
.input-group-append{
    margin-top: 6px;
}
#basic-addon2{
    margin-top: 2.5px;
    background-color: 	rgb(0, 47, 52);
    height: 50px;
}
/* #login{
    font-size: 18px;
    display: block;
    position: absolute;
    margin-top:-23px;
    margin-left: 15px;

} */
select option:first-child{
    font-size: 10px;
}
#location{
   font-size: 25px;
   color: rgb(0, 155, 155);
   font-family: 'Times New Roman', Times, serif;
}
#line{
    color: grey;
    font-size: 8px;
}
#searchInput{
    margin-left: 10%;
    width: 500px;
    
    font-size: 17px;
    height: 48px;
    border: 0.5px solid rgb(30, 140, 160);
    margin-top: 10px;
}

#faSearch{
    color: white;
}
a{
    line-height: 65px;
    text-decoration: underline;
    margin-left: 20px;
}
#inputGroupSelect01{
    height: auto;
}

#sellbtn{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 40px;
}
.inputMobile{
    display: none;
    position: initial;
    z-index: 1000;
    background-color: white;
}
.userico{
   font-size:80px;
   margin-top: 30px;
   color: rgb(0, 92, 128);
   margin-left: 15px;
}
#check{
    display: none;
}
#li_two{
    display: flex;
    margin-left: -20px;
    width:100%;
    margin-right: 25%;
}
#camico
{
    font-size: 30px;
    color: rgb(0, 92, 128)
}
#img1,#img2,#img3{
    width: 70px;
    height: 80px;
    margin-left: 170px;
    margin-bottom: 50px;
}
#loginbtn{
position: relative;
margin-left: 35px;
margin-top: -50px;
border-radius: 5%;

box-shadow: 10px -10px 10px 1px rgb(165, 165, 165);
       
}
#DropUser{
    margin-left: 20px;
    margin-top: 30px;

}
.inputDesktop{
    
}
#btnbtnlogin{
    position: "absolute";
    top: "0.1%";
    left: "75%";
}
#facart,#fachat{

}
@media all and (max-width:1125px) 
{
    #facart,#fachat{
    display: none;
    }
    #searchInput{
        margin-left: 10%;
        max-width: 500px;
        font-size: 17px;
        height: 48px;
        border: 0.5px solid rgb(30, 140, 160);
        margin-top: 10px;
    }
}

@media all and (max-width:1070px) 
{
    #sellbtn{
        display: none;
    }
    

}
@media all and (max-width:1000px) 
{
    .inputDesktop{
        display: none;
    }    
#DropUser{
   display: none;
}
#btnbtnlogin{
 display: none;
}
#loginbtn{
    position: relative;
    margin-top: -22px;
    margin-left: 10px;
    width: 90%;
    color: white;
    font-size: 20px;
    border-radius: 5%;
    
    }
    #li_two{
        display: none;
    }
    #check{
        display: block;
    }
    .input
    {
        display: none;
    }
    .inputMobile{
        display: block;
        width: 100%;
    }
    #login{
        display: none;
    }
    #sellbtn{
        display: none;
    }
}
