body{
   font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
.fixed{
    position: fixed;;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.sticky{
    position: sticky;
}